.body-articulos {
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(4, auto);
    grid-template: "header" auto
                   "title-image" auto
                   "items" auto
                   "footer" auto;
}

.header-articulos{

    grid-area:header;

}

.title-image {
    grid-area:title-image;
}

.items {
    grid-area:items;
}

.footer-articulos {
    grid-area:footer;
}

.nav {
    display: flex;
  
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    img {
        width:200px;
    }
}